body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
}

#feed img {
  width: 300px;
  margin: 10px auto;
  display: block;
  border-radius: 6px;
}
